{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="hoot-logo">
      <img src="{% static 'hoot-logo.png'%}">
    </a>
    <h1>Welcome to Hoot!</h1>
    {% if user.is_active %}
    <p>You are logged as {{user.username}}</p>
    {% endif %}
    
    <a type="button" class="btn btn-lg btn-default" href="{% url 'accounts:login' %}">Log in <span class="glyphicon glyphicon-log-in"></span></a>

    <div class="space">

  </div>
</div>

{% endblock %}
