{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>GeoRSS Layers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
	width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="map"></div>

<nobr>


<div class="jumbotron text-center">
  <div class="container">

<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Post message on map!</label><br>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your message">
  </div>
</form>

<a type="button" class="btn btn-lg btn-default" onClick="getLocation()">Post<span class="glyphicon glyphicon-log-in"></span></a>

<p id="demo"></p>

</div>
</div>

	



    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 49.496675, lng: -102.65625}
        });

        var georssLayer = new google.maps.KmlLayer({
          url: 'http://api.flickr.com/services/feeds/geo/'
        });
        georssLayer.setMap(map);
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBup80AruXn-v3FUI5oMdDfFkRIsT66hHQ&callback=initMap">
    </script>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
}
</script>

  </body>
</html>

{% endblock %}