{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>GeoRSS Layers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 65%;
	width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
	overflow: hidden;
        padding: 0;
      }
    </style>
  </head>
  <body>



    <div id="map"></div>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
}

$('#passwordsNoMatchRegister').fadeIn();

</script>


<div class="jumbotron text-center">
  <div class="container">

<form>
	   
  <div class="input-group">
    <input type="text" class="form-control input-lg" id="inputlg" placeholder="Your message">
<span class="input-group-btn">
    <a type="button" class="btn btn-lg btn-default" onClick="getLocation()">Post <span class="glyphicon glyphicon-map-marker"></span></a>
</span>
  </div>

</form>

<p id="demo"></p>

<div class="space">

</div>
</div>

	
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 49.496675, lng: -102.65625}
        });

        var georssLayer = new google.maps.KmlLayer({
          url: 'http://api.flickr.com/services/feeds/geo'
        });
        georssLayer.setMap(map);
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBup80AruXn-v3FUI5oMdDfFkRIsT66hHQ&callback=initMap">
    </script>


</body>
</html>

{% endblock %}