
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
<div class="container">
<figure class="snip1344">
<img src="{{userProfile.image.url }}" alt="profile-sample1" class="background" height="300" width="300"/>
<img src="{{userProfile.image.url }}" alt="profile-sample1" class="profile"/>

  <figcaption>
    <h3>
    {{userProfile.user.username}}
    <span>Email: {{userProfile.user.email}}</span>
    <span>Since: {{userProfile.user.date_joined}}</span>
    {% if not userProfile.user.last_login %}
    <span>Last activity: {{userProfile.user.date_joined}}</span>
    {% else %}
    <span>Last activity: {{userProfile.user.last_login}}</span>
    {% endif %}
    </h3>
  </figcaption>
 </figure>
</div>
<div class="space">
</div>
</div>
<div class="space"></div>

{% endblock %}