{% extends 'index.html' %}
{% block search %}


<a>
<form method="POST" action ="." class="form-inline">
{% csrf_token %}<div class="input-group">
 <input name="name" class="form-control mr-sm-2" type="text" placeholder="username">
    <span class="input-group-btn">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </span>
    </div>
</form>
</a>
{% if form.errors %}<a>
	<li>
		<p style="color:red;">User not found. Try again</p>
    </li></a>
 {% endif %}
{% endblock %}