{% extends 'index.html' %}
{% block search %}
{% if form.errors %}
<ul class="nav navbar-nav">
	<li>
		<center><p style="color:red;">User not found. Try again</p> </center>
	</li>
</ul>
 {% endif %}
    <div style="vertical-align: middle">
<form method="POST" action ="." class="form-inline" style="display: inline-block">
{% csrf_token %}<div class="input-group">
 <input name="name" class="form-control mr-sm-2" type="text" placeholder="Search">
    <span class="input-group-btn">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </span>
    </div>
</form>
</div>

{% endblock %}