{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title%}User Registration{% endblock %}
{% block head%}User Registration{% endblock %}
{% block content %}


 {% if form.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
    	{% endfor %}
 {% endif %}
<div class="jumbotron text-center">
<div class="row">
<div class="col-sm-6">


{% crispy form %}
</div>
<div class="col-sm-1">
<a href="/" class="hoot-logo">
      <img src="{% static 'img/hoot-logo.png'%}">
    </a>
</div>
</div>
<div class = "space">
</div>
</div>

{% endblock %}